<!--<ion-tabs class=" tabs-icon-top tabs-positive">-->

  <!--<ion-tab title="热门" icon="ion-home" href="#/tab/home">-->
    <!--<ion-nav-view name="home-tab"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="推荐"   icon="ion-ios-information" href="#/tab/about">-->
    <!--<ion-nav-view name="about-tab"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="最新" icon="ion-ios-world" ui-sref="tabs.contact">-->
    <!--<ion-nav-view name="contact-tab"></ion-nav-view>-->
  <!--</ion-tab>-->

<!--</ion-tabs>-->
